*.pyc
doc/build/
/dist
MANIFEST
.DS_Store
*/.DS_Store
*.traj
/build
/ase.egg-info
/ase/db/static/jsmol
doc/ase/dft/bztable.rst
doc/tutorials/deltacodesdft/fit.json
doc/ase/io/formatoptions.rst

# Editor backup files
*~

# Ignore PyCharm settings
.idea/

# Ignore VS Code settings
.vscode/

# Vim swap files:
.*.sw?

# Translation template
ase/gui/po/ag.pot

# Pytest and code coverage:
.cache
.coverage
coverage-html

.mypy_cache